<h1><span>A</span>bout</h1>
<div id="mainContent">

<h3>
  Thank you for using the MSI Achievement Management System.
</h3>

<p>
  This website is completely open source. You can find the source on github:
</p>

<ul>
  <li><a href="https://github.com/BitsPleaseMSI/achievement-ms-frontend">Frontend</a></li>
  <li><a href="https://github.com/BitsPleaseMSI/achievement-ms-server">Backend API</a></li>
</ul>

<p>
  An application developed by:
</p>

<ul>
    <li>V S Sreejeet</li>
    <li>Rahul Saini</li>
    <li>Amit Bansal</li>
</ul>

<p>Under mentorship of Ms. Rhythm Choudhary.</p>

<p>
  <strong>NOTE:</strong> Achievements you add will be visible on the home page once they are approved by the MSI faculty.
</p>
</div>
