<h1 class="text-center">Password Reset</h1>
<div class="card card-inverse-primary">
  <div class="card-body">
    <form (submit)="resetPass($event)" class="form-signin" action="/passwordreset">
      <div class="form-group col">
        <label>Current password</label>
        <input type="password" id="currentpass" name="psw" class="form-control" placeholder="Enter your current password" required>
      </div>
      <div class="form-group col">
        <label>New password</label>
        <input type="password" id="newpass" name="psw" class="form-control" placeholder="Enter new password" required>
      </div>
      <div class="form-group col">
        <label>Confirm new password</label>
        <input type="password" id="newpass1" name="psw" class="form-control" placeholder="Confirm new Password" required>
      </div>
      <h4 class="card-description">
        <div *ngIf="error$" class="alert alert-danger">
          Error: {{ error$ }}
        </div>
        <div *ngIf="info$" class="alert alert-success">
          {{ info$ }}
        </div>
      </h4>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>