<div id="mainContent">
<h1>Password Reset</h1>

<div *ngIf="error$" class="alert alert-danger" >
  <p>Error: {{ error$ }}</p>
</div>

<div *ngIf="info$" class="alert alert-success" >
  <p>{{ info$ }}</p>
</div>

<form (submit)="resetPass($event)" class="form-signin" action="/passwordreset">

    <label for="currentpass">Current password</label>
    <input type="password" id="currentpass" name="psw" class="form-control" placeholder="Enter your current password" required>
<br>
    <label for="newpass">New password</label>
    <input type="password" id="newpass" name="psw" class="form-control" placeholder="Enter new password" required>
<br>
    <label for="newpass1">Confirm new password</label>
    <input type="password" id="newpass1" name="psw" class="form-control" placeholder="Confirm new Password" required>
    <br>
    <button class="btn btn-crimson" type="submit">Submit</button>
</form>
</div>
