<h1 class="text-center">Add faculty achievement</h1>
<div class="card">
  <div class="card-body">
    <form (submit)="addTAchievement($event)" id="form">
      <div class="row">
        <div class="form-group col">
          <label>Publication type</label>
          <select (change)="showControls($event)" id="taType" name="programme" class="form-control">
            <option value="">Select type</option>
            <option value="Book">Book published</option>
            <option value="Journal">Journal published</option>
            <option value="Conference">Conference paper published / presented</option>
            <option value="SeminarAttended">Seminar / Conference / Workshop / FDP Attended</option>
          </select>
        </div>
      </div>
      <div class="row" id="typeControl">
        <div class="form-group col">
          <label>Sub type</label>
          <select id="subType" class="form-control">
            <option value="">Select sub type</option>
            <option value="SEMINAR">Seminar</option>
            <option value="CONFERENCE">Conference</option>
            <option value="WORKSHOP">Workshop</option>
            <option value="FDP">FDP</option>
            <option value="FDP1WEEK">FDP one week or more</option>
          </select>
        </div>
      </div>
      <div class="row" id="basicControl">
        <div class="form-group col">
          <label>Topic</label>
          <input type="textarea" id="topic" class="form-control" placeholder="Publication topic">
        </div>
        <div class="form-group col">
          <label>Date</label>
          <input type="date" id="date" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col" id="reviewedControl">
          <label>Review status</label>
          <div class="col">
            <mat-button-toggle-group>
              <mat-button-toggle [checked]="this.reviewed == true" (click)="this.reviewed = true">Reviewed</mat-button-toggle>
              <mat-button-toggle [checked]="this.reviewed == false" (click)="this.reviewed = false">Not reviewed</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="form-group col" id="levelControl">
          <label>Level</label>
          <div class="col">
            <mat-button-toggle-group>
              <mat-button-toggle [checked]="this.international == true" (click)="this.international = true">International</mat-button-toggle>
              <mat-button-toggle [checked]="this.international == false" (click)="this.international = false">National</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="form-group col" id="fundingControl">
          <label>Funding</label>
          <div class="col">
            <mat-button-toggle-group>
              <mat-button-toggle [checked]="this.sponsored == true" (click)="this.sponsored = true">Sponsored</mat-button-toggle>
              <mat-button-toggle [checked]="this.sponsored == false" (click)="this.sponsored = false">Self funded</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="form-group col" id="collegeControl">
          <label>College</label>
          <div class="col">
            <mat-button-toggle-group>
              <mat-button-toggle [checked]="this.msi == true" (click)="this.msi = true">MSI</mat-button-toggle>
              <mat-button-toggle [checked]="this.msi == false" (click)="this.msi = false">Other</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="form-group col" id="publishedControl">
          <label id="pubLabel">Published / Presented at with ISSN No.</label>
          <input type="textarea" id="published" class="form-control" placeholder="State publication / presentation">
        </div>
        <div class="form-group col" id="placeControl">
          <label>Place</label>
          <input type="textarea" id="place" class="form-control" placeholder="Place">
        </div>  
      </div>
      <div class="row">
        <div class="form-group col" id="descControl">
          <label>Description (optional)</label>
          <input type="textarea" id="description" class="form-control" placeholder="Optional description">
        </div>
      </div>
      <h4 class="card-description">
        <div *ngIf="error$" class="alert alert-danger" >
          Error: {{ error$ }}
        </div>
        <div *ngIf="info$" class="alert alert-info" >
          Info: {{ info$ }}
        </div>
        <!-- Loading icon -->
        <div id="addAchievementLoading" style="text-align:center;">
          <i class="mdi mdi-24px mdi-spin mdi-loading" alt="Loading..."></i>
        </div>
      </h4>
      <button id="addAchievementButton" class="btn btn-success btn-block" type="submit">Add achievement</button>
    </form>
  </div>
</div>