<div id="mainContent">
<h1>Faculty Login</h1>

<div *ngIf="error$" class="alert alert-danger" >
  <p>Error: {{ error$ }}</p>
</div>

<form (submit)="loginUser($event)" class="form-signin" action="/login">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" id="password" name="psw" class="form-control" placeholder="Password" required>
    <div id="remember" class="checkbox">
        <label>
            <input id="saveUser" [checked]="saveUser$" (change)="saveUser$ = !saveUser$" type="checkbox" value="remember-me" checked> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
</form><!-- /form -->
<a href="#" class="forgot-password">
    Forgot the password?
</a>
</div>
