<h1>Add academic achievement</h1>

<div id="mainContent">
<h5><i>  <h5><i>Enter the following details to add an academic achievement</i></h5>
</i></h5>
<p>*You are required to fill all the fields.*</p>
  <div id="form-area">
<div *ngIf="error$" class="alert alert-danger">
  <p>Error: {{ error$ }}</p>
</div>

<div *ngIf="info$" class="alert alert-success" >
  <p>{{ info$ }}</p>
</div>

<form (submit)="addAcademic($event)" class="form-horizontal">
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input type="text" id="name" class="form-control" placeholder="Your name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Enrollment No.</span>
    <input type="text" id="rollNo" class="form-control" placeholder="Enrollment No.">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Batch</span>
    <input type="number" id="from" class="form-control" placeholder="Begining year">
    <span class="input-group-addon">-</span>
    <input type="number" id="to" class="form-control" placeholder="Ending year">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Programme</span>
    <select  id="programme" name="programme" class="form-control">
      <option>B. Ed.</option>
      <option>BBA (H) 4 year</option>
      <option>BBA (General)</option>
      <option>BBA (B&I)</option>
      <option>BBA (T&TM)</option>
      <option>BCA</option>
      <option>B.Com (H)</option>
    </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Category</span>
    <select  id="category" name="category" class="form-control">
      <option value="exemplary">Exemplary Performance</option>
      <option value="goldmedalist">Gold Medalist</option>
      <option value="both">Gold Medalist & Exemplary Performance</option>
    </select>
  </div>
  <br>
 <div id="btn-area">
    <button class="btn btn-crimson btn-block" type="submit">Add achievement</button>
    <img id="addAcademicLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;">
  </div>
</form>
</div>
</div>
