<h1>Add academic achievement</h1>
<div id="mainContent">
<div class="card">
  <div class="card-body" style="background-color: rgb(237, 237, 237);">
    <form (submit)="addAcademic($event)" class="form-horizontal">
      <div class="row">
          <div class="form-group col">
            <label>Name</label>
            <input type="text" id="name" class="form-control" placeholder="Your name">
          </div>
        <div class="form-group col">
          <label>Enrollment No.</label>
          <input type="text" id="rollNo" class="form-control" placeholder="Enrollment No.">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label>Batch</label>
          <div class="input-group">
            <input type="number" id="from" class="form-control" placeholder="Begining year">
            <span class="input-group-addon">-</span>
            <input type="number" id="to" class="form-control" placeholder="Ending year">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label>Programme</label>
          <select  id="programme" name="programme" class="form-control">
            <option>B. Ed.</option>
            <option>BBA (H) 4 years</option>
            <option>BBA (General)</option>
            <option>BBA (B&I)</option>
            <option>BBA (T&TM)</option>
            <option>BCA</option>
            <option>B.Com (H)</option>
          </select>
        </div>
        <div class="form-group col">
          <label>Category</label>
          <select  id="category" name="category" class="form-control">
          <option value="exemplary">Exemplary Performance</option>
          <option value="goldmedalist">Gold Medalist</option>
          <option value="both">Gold Medalist & Exemplary Performance</option>
        </select>
        </div>
      </div>
      <h4 class="card-description">
        <div *ngIf="error$" class="alert alert-danger">
          Error: {{ error$ }}
        </div>
        <div *ngIf="info$" class="alert alert-success" >
          {{ info$ }}
        </div>
      </h4>
      <button class="btn btn-success btn-block" type="submit">Add achievement</button>
    </form>
  </div>
</div>
</div>
