<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h4 class="modal-title" style="text-align:center;">Login</h4>
            <div *ngIf="error$" class="alert alert-danger" >
              Error: {{ error$ }}
            </div>
            <div *ngIf="info$" class="alert alert-info" >
              Info: {{ info$ }}
            </div>
            <form (submit)="loginUser($event)" action="/login">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div id="remember" class="checkbox">
                <label>
                  <input id="saveUser" type="checkbox" value="remember-me" checked> Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-success btn-block">Sign in</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" #closeLogin>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Snackbar -->
<div id="snackbar">
  <h4>{{ message$ }}</h4>
</div>

<div class="container-scroller">
    
  <!-- Navbar -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="/">
        <img src="./assets/sams-black.png" alt="logo"/>
      </a>
      <a class="navbar-brand brand-logo-mini" href="/">
        <img src="./assets/sams-black.png" alt="logo"/>
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-left d-none d-md-flex">
        <h1 style="color:black">Student Achievement Management System</h1>
        <li class="nav-item">
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
        <span class="mdi mdi-menu mdi-dark"></span>
      </button>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item text-center align-items-top row-fluid col-wrap justify-content-center">
          <br>
          <p class="nav nav-item" style="font-size: 18px;">Maharaja Surajmal Institute</p>
          <img src="./assets/header.png" alt="logo"/>
        </li>
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="user-wrapper">
              <div class="profile-image">
                <i class="mdi mdi-account mdi-48px"></i>
              </div>
              <div class="text-wrapper" *ngIf="!userData$">
                <p class="profile-name" >Hello, Guest</p>
                <small class="designation text-muted" >Site user</small>
              </div>
              <div class="text-wrapper" *ngIf="userData$" style="font-size: 15px;">
                <p class="profile-name" *ngIf="!userData$">Hello, Guest</p>
                <h5 class="profile-name" *ngIf="userData$">Hello, {{userData$['firstName']}} {{userData$['lastName']}}</h5>
                <div>
                  <small class="designation" *ngIf="userData$ && userData$['department']=='management'">Department: Management</small>
                  <small class="designation" *ngIf="userData$ && userData$['department']=='computerscience'">Department: Computer Science</small>
                  <small class="designation" *ngIf="userData$ && userData$['department']=='education'">Department: Education</small>
                  <small class="designation" *ngIf="userData$ && userData$['department']=='commerce'">Department: Commerce</small>
                  <br>
                  <small class="designation" *ngIf="userData$ && userData$['shift']=='morning'">Shift: Morning</small>
                  <small class="designation" *ngIf="userData$ && userData$['shift']=='evening'">Shift: Evening</small>
                </div>

              </div>
            </div>
            <button class="btn btn-success btn-block" routerLink="/achievement/add">Add Achievement
              <i class="mdi mdi-plus"></i>
            </button>
            <button class="btn btn-success btn-block" *ngIf="userData$" routerLink="/academic/add">Add Academic
              <i class="mdi mdi-plus"></i>
            </button>
            <button class="btn btn-warning btn-block" *ngIf="userData$" routerLink="/user/settings">Edit Profile
              <i class="mdi mdi-pencil"></i>
            </button>
            
          </div>
        </li>
        <li class="nav-item" [class.active]="this.router.url.includes('/home/')">
          <a class="nav-link" href="" routerLink="/home/achievements">
            <i class="menu-icon mdi mdi-home-circle"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item" [class.active]="this.router.url=='/user/register'" *ngIf="!userData$">
          <a class="nav-link" href="" routerLink="/user/register">
            <i class="menu-icon mdi mdi-account-plus"></i>
            <span class="menu-title">Register new user</span>
          </a>
        </li>
        <li class="nav-item" [class.active]="this.router.url.includes('/dashboard/')" *ngIf="userData$">
          <a class="nav-link" href="" routerLink="/dashboard/unapproved">
            <i class="menu-icon mdi mdi-view-dashboard"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!userData$">
          <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal">
            <i class="menu-icon mdi mdi-login-variant"></i>
            <span class="menu-title">Faculty Login</span>
          </a>
        </li>
        <li class="nav-item" [class.active]="this.router.url=='/about'">
          <a class="nav-link" href="" routerLink="/about">
            <i class="menu-icon mdi mdi-information"></i>
            <span class="menu-title">About</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="userData$" (click)="logout()">
          <a class="nav-link" href="" routerLink="/home/achievements">
            <i class="menu-icon mdi mdi-logout-variant"></i>
            <span class="menu-title">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <!-- Main panel -->
    <div class="main-panel">
      <div class="content-wrapper">

        <router-outlet></router-outlet>
        <br>
        <div class="col-md-2 col-md-offset-10">
          <a class="btn btn-secondary btn-block" id="myBtn" (click)="w$.scrollTo(0,0)" title="Go to top">Go to top
            <i class="menu-icon mdi mdi-arrow-up-bold"></i>
          </a>
        <div>
      </div>

    </div>
  </div>
</div>
</div>
</div>