<h1><span>T</span>eacher Dashboard</h1>
<div id="mainContent">
<input type="checkbox" id="b">Filter By
<br>
<div id="filters">

  <h5>Filter options</h5>
  <form (submit)="filter($event)" class="form-signin" action="" id="filter">
    <div id="filter-area-one">
      <div class="home-filters">
        <label for="rollNo">Roll number:</label>
        &nbsp;<input type="number" id="rollNo" name="rollNo" placeholder="Roll number" autofocus>
        &nbsp;
        <label for="dateFrom" class="control-label">Starting from date:</label>
        &nbsp;<input type="date" id="dateFrom" name="dateFrom" placeholder="Starting from date">
        &nbsp;</div>
      <div class="home-filters">
        <label for="dateTo" class="control-label">Till date:</label>
        &nbsp;<input type="date" id="dateTo" name="dateTo" placeholder="Till date">
      </div>
    </div>
    <div id="filter-area-two">
      <div class="home-filters">
        <label for="sessionFrom" class="control-label">Session start year:</label>
        &nbsp;<input type="number" id="sessionFrom" name="sessionFrom" placeholder="Session start year">
      </div>
      &nbsp;&nbsp;
      <div class="home-filters">
        <label for="sessionTo" class="control-label">Session end year:</label>
        &nbsp;<input type="number" id="sessionTo" name="sessionTo" placeholder="Session end year">
      </div>
    </div>
    <div id="filter-area-three">
      <div class="home-filters">
        <label for="section">Section:</label>
        <select id="section" name="section" placeholder="Section">&nbsp;
          <option value="">Select section</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>
      </div>
      &nbsp;
      <div class="home-filters">
        <label for="semester">Semester:</label>
        <select id="semester" name="semester" placeholder="Section">&nbsp;
          <option value="">Select semester</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
      &nbsp;
      <div class="home-filters">
        <label for="shift" class="control-label">Shift:</label>&nbsp;
        <select id="shift" name="shift" placeholder="Shift">
          <option value="">Select shift</option>
          <option value="morning">Morning</option>
          <option value="evening">Evening</option>
        </select>
      </div>
      &nbsp;
      <div class="home-filters">
        <label for="category" class="control-label">Category:</label>&nbsp;
        <select id="category" name="category" placeholder="Category">
          <option value="">Category</option>
          <option value="sports">Sports</option>
          <option value="cultural">Cultural</option>
          <option value="technical">Technical</option>
          <option value="others">Others</option>
        </select>
      </div>
    </div>
    <div id="button-area">
      <button class="btn btn-crimson" type="submit">Apply filter</button>
      &nbsp;<button class="btn btn-crimson" (click)="resetFilters($event)">Reset filter</button>
    </div>
  </form>
</div>
<h2>Achievements</h2>

<h3 *ngIf="achievements$.length == 0">No achievements found!</h3>
<table class="danger" *ngIf="achievements$.length != 0">
  <tr id="table-heading">
    <th>S.No.</th>
    <th>Name</th>
    <th>Roll no.</th>
    <th>Department</th>
    <th>Section</th>
    <th>Shift</th>
    <th>Role</th>

    <th>Date</th>
    <th>Category</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  <tr class="tr-hover" *ngFor="let achievement of achievements$; let i=index">
    <td>{{ i+1 }}</td>
    <td>{{ achievement.name | uppercase}}</td>
    <td>{{ achievement.rollNo }}</td>
    <td>{{ achievement.department | uppercase }}</td>
    <td>{{ achievement.section | uppercase}}</td>
    <td>{{ achievement.shift | uppercase }}</td>
    <td *ngIf="achievement.participated">PARTICIPANT</td>
    <td *ngIf="!achievement.participated">ORGANISER</td>
    <td>{{ achievement.date }}</td>
    <td>{{ achievement.category | uppercase }}</td>
    <td><a routerLink="/achievement/{{ achievement._id }}">View Details</a></td>
    <td>
      <button *ngIf="achievement.approved" class="btn btn-danger" type="button" name="unapprove" (click)="unapprove($event, achievement._id)">Unpprove</button>
      <button *ngIf="!achievement.approved" class="btn btn-success" type="button" name="approve" (click)="approve($event, achievement._id)">Approve</button>
    </td>
  </tr>
</table>
</div>
