<h1><span>T</span>eacher Dashboard</h1>

    <div id="dashboard-taskbar">
        <h4>Taskbar</h4>
        <ul class="nav nav-pills">
          <li><a routerLink="/achievement/add">Add achievement</a></li>
          <li><a routerLink="/academic/add">Add academic achievement</a></li>
          <li><a routerLink="/user/settings">Settings</a></li>
        </ul>
        </div>

        <div id="dashboard-achievements">
        <h4>Select achievement view</h4>
        <ul class="nav nav-pills nav-fill">
          <li [class.active]="w$.location.pathname.includes('/dashboard/approved')"><a routerLink="/dashboard/approved">Approved achievements</a></li>
          <li [class.active]="w$.location.pathname.includes('/dashboard/unapproved')"><a routerLink="/dashboard/unapproved">Unapproved achievements</a></li>
          <li [class.active]="w$.location.pathname.includes('/dashboard/academic')"><a routerLink="/dashboard/academic">Academic achievements</a></li>
        </ul>
        </div>
<div id="mainContent">

  <div class="modal fade" id="deleteAcademicModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete achievement</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div id="btn-area">
              <h3>Are you sure you want to delete this academic achievement?</h3>
              <button type="button" name="delete" class="btn btn-crimson" (click)="deleteAcademic($event)">Yes</button>
              <img id="deleteAcademicLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
              &nbsp;<button type="button" name="delete" class="btn btn-crimson" data-dismiss="modal">No</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="editAcademicModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit academic achievement</h4>
          </div>
          <div class="modal-body">

            <div *ngIf="error$" class="alert alert-danger">
              <p>Error: {{ error$ }}</p>
            </div>

            <div *ngIf="info$" class="alert alert-success" >
              <p>{{ info$ }}</p>
            </div>

            <form (submit)="editAcademic($event)" class="form-horizontal">
              <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" id="nameA" class="form-control" placeholder="Your name">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Enrollment No.</span>
                <input type="text" id="rollNoA" class="form-control" placeholder="Enrollment No.">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Batch</span>
                <input type="number" id="from" class="form-control" placeholder="YYYY">
                <span class="input-group-addon">-</span>
                <input type="number" id="to" class="form-control" placeholder="YYYY">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Programme</span>
                <select  id="programme" name="programme" class="form-control" placeholder="Programme">
                  <option>B. Ed.</option>
                  <option>BBA (H) 4 years</option>
                  <option>BBA (General)</option>
                  <option>BBA (B&I)</option>
                  <option>BBA (T&TM)</option>
                  <option>BCA</option>
                  <option>B.Com (H)</option>
                </select>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Category</span>
                <select  id="category" name="category" class="form-control" placeholder="Category">
                  <option value="exemplary">Exemplary Performance</option>
                  <option value="goldmedalist">Gold Medalist</option>
                  <option value="both">Gold Medalist & Exemplary Performance</option>
                </select>
              </div>
              <br>
             <div id="btn-area">
               <div class="row" style="display:inline-block;">
                 <div class="col-xs-6">
                   <button class="btn btn-crimson btn-block" type="submit">Update achievement</button>
                 </div>
                 <div class="col-xs-6">
                   <img id="editAcademicLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
                 </div>
               </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<h4>Filter options</h4>
<label class="switch">
  <input id="b" type="checkbox">
  <span class="slider round"></span>
</label>
<div id="filters" hidden="true">

  <form *ngIf="!w$.location.pathname.includes('/dashboard/academic')" (submit)="filter($event)" class="form-signin" action="" id="filter">
    <div id="filter-area-one">
        <div class="home-filters">
          <label for="rollNo">Enrollment No.</label>
          &nbsp;<input type="number" id="rollNo" name="rollNo" placeholder="Enrollment No." value="{{this.route.snapshot.queryParams['rollNo']}}">
        </div>
        <div class="home-filters">
          <label for="semester">Semester:</label>&nbsp;
          <select id="semester" name="semester" value="{{this.route.snapshot.queryParams['semester']}}">&nbsp;
            <option value="">Select Sem</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select>
        </div>
        <div class="home-filters">
          <label for="section">Section:</label>
          <select id="section" name="section" value="{{this.route.snapshot.queryParams['section']}}">&nbsp;
            <option value="">Select section</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
        </div>
        <div class="home-filters">
            <label for="shift" class="control-label">Shift:</label>&nbsp;
            <select id="shift" name="shift" placeholder="Shift" value="{{this.route.snapshot.queryParams['shift']}}">
              <option value="">Select shift</option>
              <option value="morning">Morning</option>
              <option value="evening">Evening</option>
            </select>
          </div>
      </div>

      <div id="filter-area-two">
        <div class="home-filters">
          <label for="sessionFrom" class="control-label">Batch:</label>
          &nbsp;<input type="number" id="sessionFrom" name="sessionFrom" placeholder="Begining year" value="{{this.route.snapshot.queryParams['from']}}">
          &nbsp;<input type="number" id="sessionTo" name="sessionTo" placeholder="Ending year" value="{{this.route.snapshot.queryParams['to']}}">
        </div>
      </div>
      <div id="filter-area-three">
          <div class="home-filters">
        <label for="dateFrom" class="control-label">Starting from:</label>
        &nbsp;<input type="date" id="dateFrom" name="dateFrom" placeholder="Starting from date" value="{{this.route.snapshot.queryParams['dateFrom']}}">
        &nbsp;
          </div>
          <div class="home-filters">
        <label for="dateTo" class="control-label">Till date:</label>
        &nbsp;<input type="date" id="dateTo" name="dateTo" placeholder="Till date" value="{{this.route.snapshot.queryParams['dateTo']}}">
          </div>

        <div class="home-filters">
          <label for="category" class="control-label">Category:</label>&nbsp;
          <select id="category" name="category" placeholder="Category" value="{{this.route.snapshot.queryParams['category']}}">
            <option value="">Select Category</option>
            <option value="sports">Sports</option>
            <option value="cultural">Cultural</option>
            <option value="technical">Technical</option>
            <option value="others">Others</option>
          </select>
        </div>
      </div>
      <div id="button-area">
        <button class="btn btn-crimson" type="submit">Apply filter</button>
        &nbsp;<button class="btn btn-crimson" (click)="resetFilters($event)">Reset filter</button>
      </div>
  </form>

  <form *ngIf="w$.location.pathname.includes('/dashboard/academic')" (submit)="filter($event)" class="form-inline" action=""
    id="filter">
<div id="filter-area-one">
      <div class="home-filters">
      <label for="section" class="">Batch:</label>&nbsp;
      <input type="number" id="from"  placeholder="Begining year" value="{{!!this.route.snapshot.queryParams['batch']?this.route.snapshot.queryParams['batch'].split('-')[0]:''}}">&nbsp;
      <input type="number" id="to" placeholder="Ending year" value="{{!!this.route.snapshot.queryParams['batch']?this.route.snapshot.queryParams['batch'].split('-')[1]:''}}">
    </div>
  </div>

  <div id="filter-area-two">

    <div class="home-filters">
      <label for="semester">Programme:</label>
      <select id="programme" name="programme"  value="{{this.route.snapshot.queryParams['programme']}}">
        <option value="">Select Programme</option>
        <option>B. Ed.</option>
        <option>BBA (H) 4 years</option>
        <option>BBA (General)</option>
        <option>BBA (B&I)</option>
        <option>BBA (T&TM)</option>
        <option>BCA</option>
        <option>B.Com (H)</option>
      </select>
    </div>
  </div>

  <div id="filter-area-three">

    <div class="home-filters">
      <label for="categoryA">Category:</label>
      <select id="categoryA" name="categoryA" value="{{this.route.snapshot.queryParams['category']}}">
        <option value="">Select Category</option>
        <option value="exemplary">Exemplary Performance</option>
        <option value="goldmedalist">Gold Medalist</option>
        <option value="both">Gold Medalist & Exemplary Performance</option>
      </select>
    </div>
</div>
    <br>
    <div class="form-group-row">
      <div id="button-area">
        <button class="btn btn-crimson" type="submit">Apply filter</button>
        &nbsp;<button class="btn btn-crimson" (click)="resetFilters($event)">Reset filter</button>
      </div>
    </div>
  </form>

</div>
<!-- <h2>Achievements</h2> -->

<div id="dashboardLoading" hidden="true">
  <h3>Loading...</h3><img src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;">
</div>

<h3 id="dashboardEmpty" hidden="true">No achievements found!</h3>

<table class="danger" *ngIf="achievements$.length != 0 && (w$.location.pathname.includes('/dashboard/approved') || w$.location.pathname.includes('/dashboard/unapproved'))">
  <tr id="table-heading">
    <th>S.No.</th>
    <th>Name</th>
    <th>Enrollment No.</th>
    <th>Department</th>
    <th>Section</th>
    <th>Shift</th>
    <th>Role</th>
    <th>Date</th>
    <th>Category</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  <tr class="tr-hover" *ngFor="let achievement of achievements$; let i=index">
    <td>{{ i+1 }}</td>
    <td>{{ achievement.name | uppercase}}</td>
    <td>{{ achievement.rollNo }}</td>
    <td>{{ achievement.department | uppercase }}</td>
    <td>{{ achievement.section | uppercase}}</td>
    <td>{{ achievement.shift | uppercase }}</td>
    <td *ngIf="achievement.participated">PARTICIPANT</td>
    <td *ngIf="!achievement.participated">ORGANISER</td>
    <td>{{ achievement.date }}</td>
    <td>{{ achievement.category | uppercase }}</td>
    <td><button class="btn btn-primary" routerLink="/achievement/{{ achievement._id }}">View Details</button></td>
    <td>
      <button *ngIf="achievement.approved" class="btn btn-danger" type="button" name="unapprove" (click)="unapprove($event, achievement._id)">Unpprove</button>
      <button *ngIf="!achievement.approved" class="btn btn-success" type="button" name="approve" (click)="approve($event, achievement._id)">Approve</button>
      <img id="changeApproveLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
    </td>
  </tr>
</table>

<table class="danger" *ngIf="achievements$.length != 0 && w$.location.pathname.includes('/dashboard/academic')">
  <tr id="table-heading">
    <tr id="table-heading">
      <th>S.No.</th>
      <th>Enrollment No.</th>
      <th>Name</th>
      <th>Batch</th>
      <th>Programme</th>
      <th>Category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr class="tr-hover" *ngFor="let achievement of achievements$; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ achievement.rollNo }}</td>
      <td>{{ achievement.name }}</td>
      <td>{{ achievement.batch }}</td>
      <td>{{ achievement.programme }}</td>
      <td *ngIf="achievement.category=='goldmedalist'">Gold Medalist</td>
      <td *ngIf="achievement.category=='exemplary'">Exemplary Performance</td>
      <td *ngIf="achievement.category=='both'">Gold Medalist & Exemplary Performance</td>
      <td>
        <button class="btn btn-danger" type="button" name="delete" data-toggle="modal" data-target="#editAcademicModal" (click)="editAcademicForm($event, achievement)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" type="button" name="delete" data-toggle="modal" data-target="#deleteAcademicModal" (click)="setAcademicDeleteId($event, achievement._id)">Delete</button>
        <img id="deleteAcademicLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
      </td>
    </tr>
</table>

</div>
