#mainContent{
    padding: 20px;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}
.material-icons{
 vertical-align: -5px;
 text-align: left;
}

.material-icons.md-56{
    font-size: 10em;
    color: #F3875D;
    text-align: center;
}

.material-icons.md-28{
    font-size: 28px;
    color:white;
    text-align: center;
}


.icon-para{
    text-align: center;
}

form{
    width:80%;
    margin: 0 auto;

}

.btn.btn-block{
    display:block;
    background-color: #F3875D;
    width: auto;
    margin: 0 auto;
}

.btn.btn-crimson{
    font-size: 16px;   
    background-color: #F3875D;
    color:white; 

}

.btn:hover.btn-crimson:hover{
    background-color: white;
    border:1px solid #F3875D;
    color:black;
    transition: 800ms;
}



#btn-area{
    width:auto;
    text-align: center;
}

h5{
    color: white;
}

h1{
    color: #F3875D;
}

.home-filters input{
    border:1px solid gainsboro;
    border-radius: 3px;
    padding:3px;

}

.home-filters input:focus{
    transition: 300ms;
    box-shadow: 0 0 15px dodgerblue;
    border:1px solid dodgerblue;
}

#table-heading{
    color: #636e72;
}

tr{
    border-bottom: 1px solid gainsboro;
}

tr:nth-child(even){
    background-color: beige
}


.tr-hover:hover{
    background-color: gainsboro;
}

.active-class{
    font-weight: bold;
}

