#mainContent{
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}
.material-icons{
 vertical-align: -5px;
 text-align: left;
}

.material-icons.md-56{
    font-size: 10em;
    color: #D81E5B;
    text-align: center;
}

.material-icons.md-28{
    font-size: 28px;
    color:white;
    text-align: center;
}


.icon-para{
    text-align: center;
}

form{
    width:80%;
    margin: 0 auto;

}

.btn.btn-block{
    display:block;
    background-color: #D81E5B;
    width: auto;
    margin: 0 auto;
}

.btn.btn-crimson{
    font-size: 15px;   
    background-color: #D81E5B;
    color:white; 

}

.btn.btn-green{
    font-size: 15px;
    background-color:#5cb85c;
    color:white;
}


.btn:hover.btn-green:hover{
    background-color: white;
    border:1px solid #5cb85c;
    color:black;
    transition: 800ms;
}


.btn:hover.btn-crimson:hover{
    background-color: white;
    border:1px solid #D81E5B;
    color:black;
    transition: 800ms;
}

.btn.btn-blue{
    font-size: 15px;
    background-color:#2e6da4;
    color:white;
}


.btn:hover.btn-blue:hover{
    background-color: white;
    border:1px solid #2e6da4;
    color:black;
    transition: 800ms;
}


.btn.btn-red{
    font-size: 15px;
    background-color:  #e00000;
    color:white;
}


.btn:hover.btn-red:hover{
    background-color: white;
    border:1px solid  #e00000;
    color:black;
    transition: 800ms;
}

.btn.btn-orange{
    font-size: 15px;
    background-color:  orange;
    color:white;
}


.btn:hover.btn-orange:hover{
    background-color: white;
    border:1px solid  orange;
    color:black;
    transition: 800ms;
}

#btn-area{
    width:auto;
    text-align: center;
}

h5{
    color: white;
}

h1{
    color: #D81E5B;
}

.home-filters input{
    border:1px solid gainsboro;
    border-radius: 3px;
    padding:3px;

}

.home-filters input:focus{
    transition: 300ms;
    box-shadow: 0 0 15px dodgerblue;
    border:1px solid dodgerblue;
}

#table-heading{
    color: #636e72;
}

tr{
    border-bottom: 1px solid gainsboro;
}

tr:nth-child(even){
    background-color: beige
}


.tr-hover:hover{
    background-color: gainsboro;
}

.active-class{
    font-weight: bold;
}


#msi-header{
    color: #D81E5B;
}