
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<h1><span>H</span>ome</h1>

<h2>List of approved achievements</h2>

<div style="color:black;padding:20px;">
<form (submit)="filter($event)" class="form-signin" action="">
  <div class="form-group">
    <input type="checkbox" id="sectionFilter" class="" name="sectionFilter">
    &nbsp;<label for="section" class="control-label">Section</label>
    &nbsp;<select  id="section" name="section" class="" placeholder="Section">
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
    </select>
  </div>
  <div class="form-group">
    <input type="checkbox" id="semesterFilter" class="" name="semesterFilter">
    &nbsp;<label for="semester">Semester</label>
    &nbsp;<select  id="semester" name="semester" class="" placeholder="Section">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <div class="form-group">
    <input type="checkbox" id="departmentFilter" class="" name="departmentFilter">
    &nbsp;<label for="department" class="control-label">Department</label>
    &nbsp;<select  id="department" name="department" class="" placeholder="Section">
      <option value="education">Education</option>
      <option value="computerscience">Computer Science</option>
      <option value="management">Management</option>
    </select>
  </div>
  <div class="form-group">
    <input type="checkbox" id="shiftFilter" class="" name="shiftFilter">
    &nbsp;<label for="shift" class="control-label">Shift</label>
    &nbsp;<select  id="shift" name="shift" class="" placeholder="Shift">
      <option value="morning">Morning</option>
      <option value="evening">Evening</option>
    </select>
  </div>
  <div class="form-group">
    <input type="checkbox" id="categoryFilter" class="" name="categoryFilter">
    &nbsp;<label for="category" class="control-label">Category</label>
    &nbsp;<select  id="category" name="category" class="" placeholder="Category">
      <option value="sports">Sports</option>
      <option value="cultural">Cultural</option>
      <option value="technical">Technical</option>
      <option value="others">Others</option>
    </select>
  </div>
    <button class="btn btn-primary" type="submit">Apply filter</button>
</form>
</div>

<!-- <h4>Filter by:</h4>
<input type="radio" name="group" value="StudentName" selected="true" id="radioOne">Student Name
<input type="radio" name="group" value="Details" selected="false" id="radioTwo">Details
<div class="sortingDiv" id="filterDivOne">

<input type="text" name="searchByName" placeholder="Search by Name">

</div>
<br>
<div class="sortingDiv" id="filterDivTwo">

  <label for="Department">Department: &nbsp;</label>
  <select>
    <option value="education">Education</option>
    <option value="computerscience">Computer Science</option>
    <option value="management">Management</option>
  </select>

  <label for="Achivement Category">Achivement Category :&nbsp;</label>
  <select>
    <option value="sports">Sports</option>
    <option value="cultural">Cultural</option>
    <option value="techinical">Technical</option>
    <option value="others">Others</option>
  </select>
  <br><br>
  <label for="Shift">Shift :&nbsp;</label>
  <select>
    <option value="morning">Morning</option>
    <option value="evening">Evening</option>
  </select>

  <label for="Section">Section :&nbsp;</label>
  <select>
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
  </select>

  <label for="Semester">Semester:&nbsp;</label>
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
  </select>

</div>
<br> -->
<table border="true">
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Role</th>
    <th>Roll no.</th>
    <th>Section</th>
    <th>Shift</th>
    <th>Department</th>
    <th>Date</th>
    <th>category</th>
    <th>Details</th>
  </tr>
  <tr *ngFor="let achievement of achievements$; let i = index">
    <td>{{ i+1 }}</td>
    <td>{{ achievement.name }}</td>
    <td *ngIf="achievement.participated">Participant</td>
    <td *ngIf="!achievement.participated">Organiser</td>
    <td>{{ achievement.rollNo }}</td>
    <td>{{ achievement.section }}</td>
    <td>{{ achievement.shift | uppercase }}</td>
    <td>{{ achievement.department | uppercase }}</td>
    <td>{{ achievement.date }}</td>
    <td>{{ achievement.category | uppercase }}</td>
    <td><a routerLink="/achievement/{{ achievement._id }}">View Details</a></td>
  </tr>
</table>
