<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<h1><span>H</span>ome</h1>

<h2>List of approved achievements</h2>

<div id="sortingDiv">
  <h4>Sort by:</h4>
  <input type="hidden" name="" value="" placeholder="Search by name"><br>
  <input type="checkbox" name="department" value="Department">Department&nbsp;&nbsp;
  <input type="checkbox" name="semesterRadio" value="Semester">Semester&nbsp;&nbsp;
  <input type="checkbox" name="sessionFromRadio" value="Sessionfrom">Session From&nbsp;
  <input type="checkbox" name="sessionToRadio" value="Session To">Session to<br>
  <input type="checkbox" name="dateFromRadio" value="dateFrom">Date From&nbsp;&nbsp;
  <input type="checkbox" name="dateToRadio" value="dateTo">Date To&nbsp;&nbsp;
  <input type="checkbox" name="categoryRadio" value="category">Department&nbsp;&nbsp;


</div>
<table border="true">
  <tr>
    <th>ID</th>
    <th>Approved</th>
    <th>Participated</th>
    <th>Roll no.</th>
    <th>Section</th>
    <th>Shift</th>
    <th>Department</th>
    <th>Date</th>
    <th>category</th>
  </tr>
  <tr *ngFor="let achievement of achievements$">
    <td>{{ achievement._id }}</td>
    <td>{{ achievement.approved }}</td>
    <td>{{ achievement.participated }}</td>
    <td>{{ achievement.rollNo }}</td>
    <td>{{ achievement.section }}</td>
    <td>{{ achievement.shift }}</td>
    <td>{{ achievement.department }}</td>
    <td>{{ achievement.date }}</td>
    <td>{{ achievement.category }}</td>
  </tr>
</table>

<!--
<ol>
  <li *ngFor="let achievement of achievements$">
    <ul>
      <li>event name   ==  {{ achievement.eventName }}</li>
      <li>section   ==  {{ achievement.section }}</li>
      <li>shift   ==  {{ achievement.shift }}</li>
      <li>_id   ==  {{ achievement._id }}</li>
      <li>year   ==  {{ achievement.year }}</li>
      <li>department   ==  {{ achievement.department }}</li>
      <li>date   ==  {{ achievement.date }}</li>
      <li>rating   ==  {{ achievement.rating }}</li>
      <li>category   ==  {{ achievement.category }}</li>
      <li><a href="  ==  {{ achievement.imageUrl }}"></a>imageUrl   ==  {{ achievement.imageUrl }}</li>
      <li>venue   ==  {{ achievement.venue }}</li>
    </ul>
    <hr style="border-top: 1px solid">
  </li>
</ol> -->
