<div id="mainContent">
  <h1><span class="highlight">Achievement of {{achievement$.name |uppercase}}</span></h1>

  <div id="student-details">
    <h5><span class="underline">Student's details</span></h5><br>
        <div class="zoom"><span>Name :</span><p>{{ achievement$.name | titlecase}}</p></div>
      <div class="zoom"><span>Roll No. :</span><p>{{ achievement$.rollNo}}</p></div>
      <div class="zoom"><span>Department :</span><p>{{ achievement$.department | titlecase }}</p></div>
      <div class="zoom"><span>Semester:</span><p>{{achievement$.semester}}</p></div>
      <div class="zoom"><span>Section:</span><p>{{ achievement$.section | titlecase}}</p></div>
      <div class="zoom"><span>Shift :</span><p>{{ achievement$.shift | titlecase}}</p></div>
      <div class="zoom"><span>Batch :</span><p>{{ achievement$.sessionFrom}} - {{ achievement$.sessionTo}}</p></div>

  </div>
  <div id="student-event-details">
    <h5><span class="underline">Student's achievement details</span></h5><br>
      <div class="zoom"><span>Event Name :</span><p>{{ achievement$.eventName |titlecase }}</p></div>
      <div class="zoom"><span>Venue :</span><p>{{ achievement$.venue | titlecase}}</p></div>
      <div class="zoom"><span>Event Date : </span><p>{{achievement$.date}} (YYYY-MM-DD)</p></div>
      <div *ngIf="achievement$.participated"><span class="zoom">Role :</span><p>PARTICIPANT</p></div>
      <div *ngIf="!achievement$.participated"><span class="zoom">Role :</span><p>ORGANISER</p></div>
      <div class="zoom"><span>Event Category :</span><p>{{ achievement$.category | titlecase}}</p></div>
      <div class="zoom"><span>Event description : </span><p>{{ achievement$.description }}</p></div>
    <br>
      <div id="btn-area"><button id="img-btn" class="btn btn-crimson">Show Certificate</button></div>
      <div id="img-details" style="margin:auto;width:50%;border:3px solid;padding:10px;">
        <img src="{{ achievement$.imageUrl }}" alt="Certifiate" >
      </div>
</div>
    <h5 *ngIf="achievement$.approved">Approved by :<span class="highlight"><strong>{{achievement$.approvedBy }}</strong></span></h5>
    <h5 *ngIf="user$ && achievement$.approvedBy && (!achievement$.approved)">Last approved by :<span class="highlight">{{ achievement$.approvedBy }}</span></h5>


  <button *ngIf="user$ && user$.department == achievement$.department" type="button" name="delete" class="btn btn-crimson" (click)="delete($event, achievement$._id)">Delete</button>

</div>
