<!-- Delete modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Are you sure you want to delete this achievement?</h3>
        <div class="row">
        <div class="col">
            <button type="button" name="delete" class="btn btn-primary btn-block" data-dismiss="modal" (click)="delete($event)">Yes</button>
        </div>
        <div class="col">
            <button type="button" name="delete" class="btn btn-secondary btn-block" data-dismiss="modal">No</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div id="detailLoading" style="text-align:center;">
    <i class="mdi mdi-48px mdi-spin mdi-loading" alt="Loading..."></i>
  </div>
  <div *ngIf="achievement$.name" class="card-body">
    <h1 class="" style="font-size:32px;text-align:center;">Achievement details of {{ achievement$.name }}</h1>
    <h3>Student Details</h3>
    <div name="details" style="margin-left: auto;">
      <div class="row">
        <div class="col">
          <h4 class="text-primary">Name: <h5 class="text-dark" style="display:inline;">{{ achievement$.name | titlecase}}</h5></h4>
          <h4 class="text-primary">Roll No.: <h5 class="text-dark" style="display:inline;">{{ achievement$.rollNo}}</h5></h4>
          <h4 class="text-primary">Department: <h5 class="text-dark" style="display:inline;">{{ achievement$.department | titlecase }}</h5></h4>
          <h4 class="text-primary">Semester: <h5 class="text-dark" style="display:inline;">{{achievement$.semester}}</h5></h4>
        </div>
        <div class="col">
          <h4 class="text-primary">Section: <h5 class="text-dark" style="display:inline;">{{ achievement$.section | titlecase}}</h5></h4>
          <h4 class="text-primary">Shift: <h5 class="text-dark" style="display:inline;">{{ achievement$.shift | titlecase}}</h5></h4>
          <h4 class="text-primary">Batch: <h5 class="text-dark" style="display:inline;">{{ achievement$.sessionFrom}} - {{ achievement$.sessionTo}}</h5></h4>
        </div>
      </div>
      <hr>
    </div>
    <h3>Achievement Details</h3>
    <div name="details" style="margin-left: auto;">
      <div class="row">
        <div class="col">
          <h4 class="text-primary">Event Name: <h5 class="text-dark" style="display:inline;">{{ achievement$.eventName |titlecase }}</h5></h4>
          <h4 class="text-primary">Venue: <h5 class="text-dark" style="display:inline;">{{ achievement$.venue | titlecase}}</h5></h4>
          <h4 class="text-primary">Event Date: <h5 class="text-dark" style="display:inline;">{{achievement$.date}} (YYYY-MM-DD)</h5></h4>
        </div>
        <div class="col">
          <h4 class="text-primary" *ngIf="achievement$.participated">Role: <h5 class="text-dark" style="display:inline;">PARTICIPANT</h5></h4><h4 class="text-primary" *ngIf="!achievement$.participated">Role: <h5 class="text-dark" style="display:inline;">ORGANISER</h5></h4>
          <h4 class="text-primary">Event Category: <h5 class="text-dark" style="display:inline;">{{ achievement$.category | titlecase}}</h5></h4>
          <h4 class="text-primary">Title awarded: <h5 class="text-dark" style="display:inline;">{{ achievement$.title }}</h5></h4>
        </div>
      </div>
      <div class="row" style="margin-left: auto;">
          <h4 class="text-primary">Event description: <h5 class="text-dark" style="display:inline;">{{ achievement$.description }}</h5></h4>
      </div>
    </div>
    <div class="text-center">
      <br>
        <div id="btn-area"><button id="img-btn" class="btn btn-primary">Show Certificate</button></div>
      <br>
      <div id="img-details">
        <img src="http://13.59.95.13:8081/{{ achievement$.imageUrl }}" alt="Certifiate" style="display:block;margin-left:auto;margin-right:auto;width:50%;border:2px solid black;">
      </div>
      <br>
    </div>
    <h5 *ngIf="achievement$.approved">Approved by: <strong>{{achievement$.approvedBy }}</strong></h5>
    <h5 *ngIf="user$ && achievement$.approvedBy && (!achievement$.approved)">Last approved by: {{ achievement$.approvedBy }}</h5>
  </div>
</div>
<hr>
<div class="form-group row" style="display:flex;justify-content:center;">
  <button *ngIf="!achievement$.approved && user$ && user$.department == achievement$.department  && user$.shift == achievement$.shift" class="btn btn-success" type="button" name="approve" (click)="approve($event, achievement$._id)">
    <i class="mdi mdi-check"></i>
    Approve
  </button>
  <button *ngIf="achievement$.approved && user$ && user$.department == achievement$.department  && user$.shift == achievement$.shift" class="btn btn-warning" type="button" name="unapprove" (click)="unapprove($event, achievement$._id)">
    <i class="mdi mdi-close"></i>
    Unapprove
  </button>
  <button *ngIf="user$ && user$.department == achievement$.department && user$.shift == achievement$.shift" class="btn btn-danger" type="button" name="delete" style="margin-left:10px" data-toggle="modal" data-target="#deleteModal">
    <i class="mdi mdi-delete"></i>
    Delete ?
  </button>
</div>