
h1{

    text-align: center;
border-bottom:2px solid gainsboro}

#mainContent{
    padding: 10px;
    margin:0 auto;

}

#student-details{
    width: auto;
    padding: 10px;
    margin:0 auto;
    text-align: justify;
    }

.detail{
    width: 100%;
}