<div id="mainContent">
<h1>Faculty Registration</h1>

<div *ngIf="error$" class="alert alert-danger" >
  <p>Error: {{ error$ }}</p>
</div>

<form (submit)="registerUser($event)" class="form-signin" action="/user/register">


    <label for="first Name">First name</label>
    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name"  autofocus required>
    <br>
    <label for="Last Name">Last name</label>
    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required>
    <br>
    <label for="department" class="control-label">Department</label>
    <select  id="department" name="department" class="form-control" placeholder="Section">
      <option value="education">Education</option>
      <option value="computerscience">Computer Science</option>
      <option value="management">Management</option>
    </select>    <br>
    <label for="E-mail">E-mail</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
    <br>
    <label for="Password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <br>
    <label for="Re-type">Re-type password</label>
    <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-type password" required>
    <br>
    <label for="Invite Code">Invite code</label>
    <input type="password" id="code" name="code" class="form-control" placeholder="Invite code" required>
    <br>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
</form>
</div>
