<h1>Faculty Registration</h1>

<div id="mainContent">
  <h5><i>Enter your details in the following fields to register as faculty member:</i></h5>
  <p>*You are required to fill all the fields.*</p>
  <div id="form-area">
<div *ngIf="error$" class="alert alert-danger" >
  <p>Error: {{ error$ }}</p>
</div>

<div *ngIf="info$" class="alert alert-success" >
  <p>{{ info$ }}</p>
</div>

<form (submit)="registerUser($event)" class="form-signin" action="/user/register">
    <div class="input-group">
      <span class="input-group-addon">First name</span>
      <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name"  autofocus required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" >Last name</span>
      <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Department</span>
      <select  id="department" name="department" class="form-control">
        <option value="education">Education</option>
        <option value="computerscience">Computer Science</option>
        <option value="management">Management</option>
        <option value="commerce">Commerce</option>
      </select>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" >E-mail</span>
      <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" >Password</span>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Re-type password</span>
      <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-type password" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Invite code</span>
      <input type="password" id="code" name="code" class="form-control" placeholder="Invite code">
    </div>
    <br>
    <div id="btn-area">
    <button class="btn btn-crimson btn-block" type="submit">Register</button>
    <img id="registerUserLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
    </div>
</form>
</div>
</div>
