<h1>Profile settings</h1>
<div id="mainContent">
<div class="card">
  <div class="card-body" style="background-color: rgb(237, 237, 237);">
    <h4>Note: Only change what you want to update.</h4>
    <form (submit)="update($event)" class="form-horizontal" action="user/settings">
      <div class="row">
          <div class="form-group col">
            <label>First name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" autofocus required>
          </div>
        <div class="form-group col">
          <label>Last name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label>Email</label>
          <input type="email" id="newEmail" name="newEmail" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label>Confirm current password to update profile.</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
      </div>
      <h4 class="card-description">
        <div *ngIf="error$" class="alert alert-danger">
          Error: {{ error$ }}
        </div>
        <div *ngIf="info$" class="alert alert-success">
          {{ info$ }}
        </div>
      </h4>
      <div class="row">
        <div class="form-group col">
          <button class="btn btn-success btn-block" type="submit">Update</button>
        </div>
        <div class="form-group col">
          <button class="btn btn-secondary btn-block" (click)="resetForm($event);">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-body" style="background-color: rgb(237, 237, 237);">
    Click <a routerLink="/passwordreset">here</a> to change your password.
  </div>
</div>
</div>