<h1 id="msi-header">Maharaja Surajmal Institute</h1>
<h1>Profile settings</h1>
<div id="mainContent">
<div *ngIf="error$" class="alert alert-danger" >
  <p>Error: {{ error$ }}</p>
</div>

<div *ngIf="info$" class="alert alert-success" >
  <p>{{ info$ }}</p>
</div>





<h2>Profile details</h2>
Click here to change your password:
<button class="btn btn-crimson" routerLink="/passwordreset">Reset password</button>

<h5><i>Note: Change only those values that you want to update.</i></h5>
<form (submit)="update($event)" class="form-horizontal" action="user/settings">
  <div class="input-group">
    <span class="input-group-addon">First name</span>
    <input type="text" id="firstName" name="firstName"  class="form-control" placeholder="First name" autofocus required>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Last name</span>
    <input type="text" id="lastName" name="lastName"  class="form-control" placeholder="Last name" required>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Email</span>
    <input type="email" id="newEmail" name="newEmail"  class="form-control" placeholder="Email" required>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Confirm current password</span>
    <input type="password" id="password" name="password"  class="form-control" placeholder="Enter current password" required>
  </div>
  <br>
  <div id="btn-area">
    <button class="btn btn-crimson" type="submit">Update</button>
    <img id="updateLoading" src="/assets/loadingCustom.svg" alt="Loading..." style="width:50px;height:50px;" hidden="true">
    &nbsp;<button class="btn btn-crimson" (click)="resetForm($event);">Reset</button>
  </div>
</form>
</div>
